.square {
  width: 12.5vw;
  height: 12.5vw;
  max-width: 8vh;
  max-height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-board {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: fit-content;
}
.squares {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  max-height: 96vh;
}
.squares > .row {
  width: fit-content;
}
.square.black {
  background: #333;
}
.square.white {
  background: #eee;
}
.row.white {
  background: #e2e2e2;
}
.row.black {
  background: #555;
}
.piece {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12.5vw;
  width: 12.5vw;
  max-width: 8vh;
  max-height: 8vh;
}

.turn-counter {
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  background: #555;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  color: #fff;
}
