.p-fh {
  padding: var(--active-size) calc(var(--active-size) * 2);
}
.p-fw {
  padding: calc(var(--active-size) * 2) var(--active-size);
}
.p-fs {
  padding: var(--active-size) var(--active-size);
}
.p-hh {
  padding: var(--active-size) calc(var(--active-size) / 2);
}
* {
  font-size: var(--active-size);
  --active-size: 15px;
}
.b2 {
  --active-size: 18px;
}
/* HEADINGS
--------*/
h1 {
  font-size: 40px;
}
h2 {
  font-size: 24px;
}

/* BUTTONS 
-------*/
button {
  --blank-text: #000;
  --fill-text: #dedede;
  border: none;
  outline: none;
  background: var(--color);
  color: var(--fill-text);
  margin: 2px;
  border-radius: calc(var(--active-size) / 12);
  transition: background-color 100ms linear, color 100ms linear;
}
button:active {
  background: var(--active-color);
}
button.outline {
  color: var(--blank-text);
  background: rgba(255, 255, 255, 0.2);
  border-width: calc(var(--active-size) / 12);
  border-style: solid;
  border-color: var(--color);
}
button.outline:active {
  background: var(--color);
  color: var(--fill-text);
  border-color: var(--active-color);
}
button.primary {
  --color: #0a82d1;
  --active-color: #06629e;
}
button.secondary {
  --color: #24a8bf;
  --active-color: #32c9e3;
}
button.danger {
  --color: #d4642c;
  --active-color: #ad5428;
}
/*  */
